{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block Title %}Profile Update{% endblock Title %}

{% block Style %}
    
{% endblock Style %}

{% block Content %}

<div class="breadcrumb-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                   <h2 class="lg-title">Profile Update</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="section-padding">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
                <form enctype="multipart/form-data" method = "POST"> {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12">
                            {{form.bio|as_crispy_field}}
                        </div>
                        <div class="col-md-12">
                            {{form.profile_picture|as_crispy_field}}
                        </div>
                        <div class="col-md-12">
                            {{form.facebook_link|as_crispy_field}}
                        </div>
                        <div class="col-md-12">
                            {{form.linked_in_link|as_crispy_field}}
                        </div>
                        <div class="col-md-12 text-center">
                            <button class="btn btn-primary solid blank mt-3" type="submit">Update My Profile</button>
                        </div>
                    </div>
                </form>
            </div>
			<div class="col-md-4">
            </div>
        </div>
    </div>
</div>

{% endblock Content %}

{% block Scripts %}

{% endblock Scripts %}